.crypto {
  min-width: 200px;
  .return {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
  }
  .direction {
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
    position: absolute;
    right: 15px;
    top: 7px;
  }
}
