.weather {
  min-width: 200px;
  .group-content {
    padding: 2px !important;
  }
  .group {
    padding-bottom: 0 !important;
  }
  .temp {
    font-size: 45px;
    font-weight: 600;
    position: absolute;
    right: 25px;
    top: 55px;
  }
}
