//colors
$purple-dark: #113250;
$purple-light: #0b335f;
$purple-lightest: #2d4e79;
$purple-pale: #fcf8ff;
$white: #ffffff;
$grey: #494c4b;
$grey-light: #5c615f;
$grey-lightest: #c2c6c7;
$red: #ce5e5e;
$green: #5ece9b;

$link-color: #0366d6;
//font
$base-font-family: "Source Sans Pro", sans-serif;
$base-font-size: 14px;

$heading-font-family: "Source Sans Pro", sans-serif;
$h1-font-size: 22px;
$h2-font-size: 20px;
$h3-font-size: 16px;
$huge-font-size: 40px;

//base-vars
$base-spacing: 8px;
$base-page-width: 1280px;
