.countdown {
  min-height: 115px;
  min-width: 210px;
  .count {
    font-size: 35px;
    font-weight: 400;
    padding: 15px 0 5px 0;
    text-align: center;
  }
  .meta {
    font-size: 15px;
    color: $white;
    opacity: 0.9;
    padding-bottom: 10px;
    text-align: center;
  }
}
