.datetime {
  background-color: transparent !important;
  width: calc(100vw - 50px);
  .time {
    font-size: 55px;
    font-weight: 600;
    text-align: right;
  }
  .date {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }
}
